/* **Consegna**
L’utente indica un livello di difficoltà in base al quale viene generata una griglia di gioco quadrata, in cui ogni cella contiene un numero tra quelli compresi in un range:
con difficoltà 1 => tra 1 e 100
con difficoltà 2 => tra 1 e 81
con difficoltà 3 => tra 1 e 49
Quando l’utente clicca su ogni cella, la cella cliccata si colora di azzurro.
**Consigli del giorno:** :party_wizard:
**** Creiamo prima una griglia unica (es con 100 quadratini) per  poi dinamicizzare il dato con classi css dedicate
**** Scriviamo prima cosa vogliamo fare passo passo in italiano, dividiamo il lavoro in micro problemi.
Ad esempio:
Di cosa ho bisogno per generare i numeri?
Proviamo sempre prima con dei console.log() per capire se stiamo ricevendo i dati giusti.
Le validazioni e i controlli possiamo farli anche in un secondo momento. */

header,footer {
  height: 10vh;
}

main {
  height: 80vh;
}

.cdd-border {
  border: 1px solid black;
}

.cdd-color {
  background-color: aliceblue;
}

.cdd-grid {
  width: 500px;
  height: 500px;
}

.cdd-square {
  float: left;
  color: white;
}

.clicked {
  background-color: rgb(8, 174, 174);
}

.cdd-square100 {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.cdd-square81 {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cdd-square49 {
  width: calc(100% / 7);
  height: calc(100% / 7);
}